footer.page-footer.orange
  .container
    .row
      .col.l6.s12
        h5.white-text Company Bio
        p.grey-text.text-lighten-4
          | We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.

  .footer-copyright
    .container
      | Made by 
      a.orange-text.text-lighten-3(href='http://materializecss.com') Materialize
// Scripts
script(src='http://code.jquery.com/jquery-2.1.0.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')