doctype html
html
	include ./includes/head.jade
	body
		include ./includes/header.jade
		div.container
			div.section<!-- sections -->
				.row
					form.col.s12(action='/topic' method='post')
						.input-field.col.s12
							i.material-icons.prefix assignment_ind
							input#name.validate(type='text', name='id')
							label(for='id') 사번
						.input-field.col.s6
							i.material-icons.prefix account_circle
							input#name.validate(type='text', name='name')
							label(for='name') Name
						.input-field.col.s6
							i.material-icons.prefix phone
							input#contactMain.validate(type='tel', name='contactMain')
							label(for='contactMain') Telephone
						.input-field.col.s6
							input#team.validate(type='text', name='team')
							label(for='team') Team
						.input-field.col.s6
							input#title.validate(type='text', name='title')
							label(for='title') Title
						.input-field.col.s12
							input#contactMail.validate(type='email', name='contactMail')
							label(for='contactMail') Email
						.input-field.col.s12
							i.material-icons.prefix mode_edit
							textarea#signature.materialize-textarea(placeholder='ex) Best Regards,', name='signature')
							label(for='signature') Signature
						button.btn.waves-effect.waves-light(type='submit') Submit
							i.material-icons.right send
	include ./includes/footer.jade
