doctype html
html
	include ./includes/head.jade
	body
		include ./includes/header.jade
		div.container
			.row
				ul.collection.with-header
					each card in cards
						li.collection-item.avatar
							i.material-icons.circle.green insert_chart
							span.title=card
							p
								a(href='/card/'+card)= card
								br
								| Second Line
				a.waves-effect.waves-light.btn(href="/card/new") New
					i.material-icons.left add



	include ./includes/footer.jade
